.MessagesSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.messageDiv {
    padding: 30px;
    background-color: #CACACA;
    margin: 0 0 30px 30px;
}

/*klasa miniaturki wiadomości na main-page*/
.message {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #1F1F1F;
}
.message > h1 {
    font-size: 28px;
    font-weight: 400;
}
.message > p {
    color: #646464;
}
.message > div {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.message > div > button {
    font-weight: 700;
    text-align: left;
}
.message > div > span {
    text-align: right;
    font-weight: 700;
}